
* {
    margin: 0px;
}
main { 
    height: 100%;
}

body {
    height: 739px;
    background-image: url(brillantina.png);
}

h1 { 
    color: white;
    font-family: 'Fira Mono', monospace;
}

#menu_p {
    float: left;
    background-color: #080F1F;
    width: 100%;
    height: 90px;
    
}

.item {
    display: inline-block;
}

#item2 {
    position: relative;
    top: 17px;
    left: 7px;
}

#contenido {
    background: linear-gradient(-45deg, #ee7752, #509acc, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    height: 100%;
    animation: 15s ease gradient;
    animation-iteration-count: infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#bienvenida {
    color: white;
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 35px;
    font-family: 'Lobster', cursive;
    
}

#text-principal {
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 30px;
    justify-content: baseline;
    position: relative;
    top: 200px;
    left: 26%;
    color: white;
    width: 50%;
    
}

#read {
    width: 50px;
    height: 50px;
}

#button_1 {
    cursor: pointer;
    transform: scale(3);
    border-radius: 30px;
    position: relative;
    left: 48%;
    top: 150px;
}

#libros {
    width: 100px;
    height: 100px;
    position: relative;
    top: 400px;
}

#fr-f {
    font-family: 'Caveat', cursive;
    position: absolute;
    top: 460px;
    left: 580px;
}

#menu {
    background-color:#080F1F;
    width: 200px;
    height: 200px;
}

@media screen and (max-height:794px) {

    body {
        height: 100%;
        overflow-y: hidden;
    }

    #libros {
        top: 209px;
    }

    #fr-f {
        position: absolute;
        top: 560px;
        left: 500px;
    }

    #text-principal {
        top:180px;
    }

    #bienvenida {
        font-size: 50px;
        top:70px;
    }

    #button_1 {
        top: 130px;
    }

    #contenido {
        background: linear-gradient(-45deg, #ee7752, #509acc, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        height: 631px;
        animation: 15s ease gradient;
        animation-iteration-count: infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}